<div id="login-input" class="z-depth-4">
	<div id="login-container">
		<h2>TrackMe</h2>
		<div class="container">
			<div class="login-data" *ngIf="Loading != true">
				<app-input-component #email [Title]="'email'"></app-input-component>
				<app-input-component #password [Title]="'password'"></app-input-component>
				<button md-button [style.background]="'rgb(63, 81, 181)'" (click)="Login(email.Value,password.Value)">Login</button>
				<br>
				<br>
				<a (click)="Registration()">Sign in</a>
			</div>
			<div class="loginLoader">
				<app-loader1 *ngIf="Loading == true"></app-loader1>
			</div>

		</div>
	</div>
	<!--
	<button (click)="jump()">jump</button>-->
</div>
<app-toast #Toast></app-toast>
